// Variables de colores
$primary-color: #53b0c8;       // Color primario
$secondary-color: #087f84;     // Color secundario
$bg-claro: #fff;               // Color de fondo claro
$bg-letra: #333;               // Color de la letra

// Variables de tipografía
$font-family: "Roboto", sans-serif; // Tipografía principal

// Variables para tamaños
$font-size-large: 1.5em;          // Tamaño de fuente grande
$font-size-medium: 1.2em;         // Tamaño de fuente mediano
$font-size-small: 1em;            // Tamaño de fuente pequeño
$padding-standard: 10px;          // Padding estándar
